@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --boxHeaderBg: #d0f7fa;
  --boxBodyBg: #ffffff;
  --mainTextColor: #000000;
  --toggleTextColor: #666666;
  --toggleBtnColor: #cccccc;
  --deviderColor: #c4c4c4;
  --placeholderColor: #979797;
  --choiceBorderColor: #a0a0a0;
  --successBtnBg: #087b2f;
  --successBtnTxt: #f4fbf7;
  --deleteBtnColor: #a80000;
  --optionHoverBg: #9c4de2;
  --sidebarBg: #e2ce1a;
  --sectionBorderRadius: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.app-container {
  display: flex;
}

.main-content {
  flex: 1;
}
.main-content > .appForm {
  padding: 70px;
}

